<div>
  <button (click)="add()">Add</button>
  <div *ngFor="let value of values">
    <select [(ngModel)]="value.key">
      <option *ngFor="let option of [value.key].concat(getAvailableKeys())" [ngValue]="option">
        {{ option }}
      </option>
    </select>
    <input type="text" [(ngModel)]="value.value" />
    <button (click)="delete(value)">X</button>
  </div>
</div>
<div class="debug">
  <div>
    <p>Key options</p>
    <ul>
      <li *ngFor="let option of keyOptions">{{ option }}</li>
    </ul>
  </div>

  <div>
    <p>Used keys</p>
    <ul>
      <li *ngFor="let option of getUsedKeys()">{{ option }}</li>
    </ul>
  </div>

  <div>
    <p>Available keys</p>
    <ul>
      <li *ngFor="let option of getAvailableKeys()">{{ option }}</li>
    </ul>
  </div>

  <div>
    <p>Object output</p>
    <pre>{{ toObject() | json }}</pre>
  </div>

</div>
